{% extends '@ManuelTranslation/base.html.twig' %}

{% trans_default_domain "ManuelTranslationBundle" %}

{% block content_container %}
    <div class="container">
        {{ render(
            controller('ManuelAguirre\\Bundle\\TranslationBundle\\Controller\\TranslationController::renderReact')
        ) }}
    </div>
{% endblock %}